//--COLORS--
$red               = #F6120D
$black             = #000000
$white             = #ffffff
$dark-gray         = #484848
$light-gray        = #D8D8D8
$border-silver     = #DEDEDE
$link-silver       = #9B9B9B
$hover-silver      = #e2e2e2
$yellow            = #FAB900
$light-yellow      = #ffdf88
$sector-yellow     = #ffd60c
$silver            = #A4A4A4
$back-canvas       = #F2F2F2
$pale-gray         = #A0A0A0
$violet            = #942381
$light-violet      = #AC2895
$light-green       = #8dc143
$super-light-green = #97d048
$light-red         = #dd2034
$super-light-red   = #ee2338
$blue              = #0169b2
$light-blue        = #0277cc
$orange            = #f4930e

//--COMMON-STYLES--
body
  margin: 0
  &.locked
    overflow: hidden
    position: relative

a
  cursor: pointer
  color: $dark-gray
  text-decoration: none
  font-family: GothamPro
  font-size: 13px
  line-height: 35px
  transition: .3s
  svg
    transition: .3s
  &:hover
    color: $yellow
    transition: .3s
    svg
      path
        transition: .3s
        fill: $yellow

p
  color: $dark-gray
  font-family: GothamPro
  font-size: 13px
  line-height: 35px

//--IMPORTS--
@import 'include/fonts.styl'
@import 'include/header.styl'
@import 'include/media-header.styl'
@import 'include/tablet-header.styl'
@import 'include/mobile-header.styl'
@import 'pages/index/index.styl'
@import 'pages/index/tablet.styl'
@import 'pages/index/mobile.styl'
@import 'pages/floors-map/floors-map.styl'
@import 'include/footer.styl'
@import 'include/media-footer.styl'
@import 'include/tablet-footer.styl'
@import 'include/mobile-footer.styl'
