//--COLORS--
$red            = #F6120D
$black          = #000000
$white          = #ffffff
$dark-gray      = #484848
$light-gray     = #D8D8D8
$border-silver  = #DEDEDE
$link-silver    = #9B9B9B
$hover-silver   = #e2e2e2
$yellow         = #FAB900
$light-yellow   = #ffdf88

//--COMMON-STYLES--
body
  margin: 0

a
  cursor: pointer
  color: $dark-gray
  text-decoration: none
  font-family: GothamPro
  font-size: 13px
  line-height: 35px
  transition: .3s
  svg
    transition: .3s
  &:hover
    color: $yellow
    transition: .3s
    svg
      path
        transition: .3s
        fill: $yellow

p
  color: $dark-gray
  font-family: GothamPro
  font-size: 13px
  line-height: 35px

//--IMPORTS--
@import 'include/fonts.styl'
@import 'include/header.styl'
@import 'pages/index/index.styl'
@import 'include/footer.styl'
@import 'include/media-footer.styl'
