//--COLORS--
$white          = #ffffff
$dark-gray      = #484848
$light-gray     = #D8D8D8
$border-silver  = #DEDEDE
$yellow         = #FAB900


body
  margin: 0

a
  cursor: pointer
  color: $dark-gray
  text-decoration: none
  font-family: GothamPro
  font-size: 13px
  line-height: 35px

p
  color: $dark-gray
  font-family: GothamPro
  font-size: 13px
  line-height: 35px

@import 'include/fonts.styl'
@import 'include/header.styl'
@import 'pages/index/index.styl'
@import 'include/footer.styl'
