include include/header.pug
section.search-block-head
  form
    .magnifier
      img.svg(src="./dist/img/svg/floors-map/magnifier-silver.svg")
    input(type="text", placeholder="Введите название...")
section.floors-map
  .container
    .actions
      .levels
        a.second.active 2 этаж
        a.first 1 этаж
      .zoom
        .plus
        .minus
      .legend
        .paragraph <img src="./dist/img/svg/floors-map/stairs.svg"> Лестница
        .paragraph <img src="./dist/img/svg/floors-map/travolator.svg"> Травалатор
        .paragraph <img src="./dist/img/svg/floors-map/escalator.svg"> Эскалатор
        .paragraph <img src="./dist/img/svg/floors-map/parking.svg"> Парковка
        .paragraph <img src="./dist/img/svg/floors-map/toilets.svg"> Туалеты
        .paragraph <img src="./dist/img/svg/floors-map/rink.svg"> Каток
        .paragraph <img src="./dist/img/svg/floors-map/food_court.svg"> Ресторанный дворик
        .paragraph <img src="./dist/img/svg/floors-map/information.svg"> Информационная стойка
        .paragraph <img src="./dist/img/svg/floors-map/mother_and_child_room.svg"> Комната матери и ребенка
        .paragraph <img src="./dist/img/svg/floors-map/disabled_toilet.svg"> Туалет для инвалидов
        .paragraph <img src="./dist/img/svg/floors-map/elevator.svg"> Лифт
        .paragraph <img src="./dist/img/svg/floors-map/ATMs.svg"> Банкоматы
    #floors
      #map_level_1
        .canvas(style="transform: scale(1);")
          include floors/map-level-1.pug
      #map_level_2.active
        .canvas(style="transform: scale(1);")
          include floors/map-level-2.pug
include include/vendor.pug 
script(src="./dist/js/floors-map.js")
include include/footer.pug
