include include/header.pug
section.search-block-head
  .container
    form
      .input
        .magnifier
          img.svg(src="./dist/img/svg/floors-map/magnifier-silver.svg")
        input(type="text", placeholder="Введите название...")
      .custom-select#category
          select
            option Все
            option Товары для дома
            option Аксесуары и бижутерия
            option Верхняя одежда
            option Детские товары
            option Женская одежда
            option Мужская одежда
            option Кожгалантерея, сумки, чемоданы
            option Красота и здоровье
            option Нижнее бельё и колготки
            option Продукты питания
            option Спортивные товары
            option Товары для животных
            option Цветы, подарки, кондитерские изделия
            option Электроника и бытовая техника
            option Ювелирные украшения
      .custom-select.disabled#shops
          select
            option Список магазинов
            option Окей
            option М.Видео
            option Familia
            option Kari
            option Mothercafe
            option Sinsay
            option Obi
            option Детский мир
            option H&amp;M
            option Спортмастер гипер
            option #791
            option Modis
            option Befree
            option Читай город
            option CiteMarilou
section.floors-map
  .container
    .actions
      .levels
        a.second.active 2 этаж
        a.first 1 этаж
      .zoom
        .plus
        .minus
      .legend
        .paragraph <img src="./dist/img/svg/floors-map/stairs.svg"> Лестница
        .paragraph <img src="./dist/img/svg/floors-map/travolator.svg"> Травалатор
        .paragraph <img src="./dist/img/svg/floors-map/escalator.svg"> Эскалатор
        .paragraph <img src="./dist/img/svg/floors-map/parking.svg"> Парковка
        .paragraph <img src="./dist/img/svg/floors-map/toilets.svg"> Туалеты
        .paragraph <img src="./dist/img/svg/floors-map/rink.svg"> Каток
        .paragraph <img src="./dist/img/svg/floors-map/food_court.svg"> Ресторанный дворик
        .paragraph <img src="./dist/img/svg/floors-map/information.svg"> Информационная стойка
        .paragraph <img src="./dist/img/svg/floors-map/mother_and_child_room.svg"> Комната матери и ребенка
        .paragraph <img src="./dist/img/svg/floors-map/disabled_toilet.svg"> Туалет для инвалидов
        .paragraph <img src="./dist/img/svg/floors-map/elevator.svg"> Лифт
        .paragraph <img src="./dist/img/svg/floors-map/ATMs.svg"> Банкоматы
    #floors
      #map_level_1
        .canvas(style="position: absolute; transform: translate3d(0px, 0px, 0px) scale(1); width: 1000px; height: 700px;")
          include floors/map-level-1.pug
      #map_level_2.active
        .canvas(style="position: absolute; transform: translate3d(0px, 0px, 0px) scale(1); width: 1000px; height: 700px;")
          include floors/map-level-2.pug
    //- .popup-map-info(style="transform: translateX(595.254px) translateY(105px) translateZ(0px);")
    //-   img.svg(src="./dist/img/svg/floors-map/logos/m.video.svg")
    //-   .category Бытовая техника
    //-   p INCITY
    //-   .horizontal-line
    //-   .info
    //-     .clock <img src="./dist/img/svg/floors-map/clock-circular.svg" class="svg"> 10:00 - 22:00
    //-     a.phone <img src="./dist/img/svg/floors-map/phone-receiver.svg" class="svg"> + 7 (3462) 31 04 03
    //-     a.global <img src="./dist/img/svg/floors-map/global.svg" class="svg"> incity.ru
    //-     .social-links
    //-       a.instagram
    //-         img.svg(src="./dist/img/svg/footer/instagram-silver.svg")
    //-       a.facebook
    //-         img.svg(src="./dist/img/svg/footer/facebook-silver.svg")
    //-       a.vk
    //-         img.svg(src="./dist/img/svg/footer/vk-silver.svg")
include include/vendor.pug 
script(src="./dist/js/floors-map.js")
script(src="./dist/js/custom-select.js")
include include/footer.pug
