include include/header.pug
section#main-slider
  .slide
    img(src="/dist/img/jpg/index/slider.jpg")
  .slide
    img(src="/dist/img/jpg/index/slider.jpg")
  .slide
    img(src="/dist/img/jpg/index/slider.jpg")
  .slide
    img(src="/dist/img/jpg/index/slider.jpg")
.container
  img.poster(src="/dist/img/svg/index/poster.svg")
  .container
    section.stocks
      .head-stocks
        p Акции и новинки
        a Все акции
          img.svg(src="/dist/img/svg/index/all-stock.svg")
        .zigzag-line
      .body-stocks
        a.stock
          .img
            img(src="./dist/img/jpg/index/toys.jpg")
            .logo
              img(src="./dist/img/png/index/logo/LEGO.png")
          .info
            p.headline Пусть всегда будет LEGO!
            p.text Что может быть лучше нового LEGO? <br> Только мысль о том, что скоро вернетесь еще за одним. Как же не вернуться, если следующая покупка будет со скидкой 20%!
            .date 
              p 26 февраля – 8 марта
        a.stock
          .img
            img(src="./dist/img/jpg/index/yves-woman.jpg")
            .logo
              img(src="./dist/img/png/index/logo/yves-rocher.png")
          .info
            p.headline Пусть расцветает <br> красота!
            .date
              p 26 февраля – 8 марта
        a.stock
          .img
            img(src="./dist/img/jpg/index/3-15clock.jpg")
            .logo
              img(src="./dist/img/png/index/logo/3-15.png")
          .info
            p.headline В салоне часов "3-15" скидка 20% на все модели швейцарского бренда Gryon до 10 марта.
            .date 
              p 26 февраля – 8 марта
        a.stock
          .img
            img(src="./dist/img/jpg/index/moscow-yv.jpg")
            .logo
              img(src="./dist/img/png/index/logo/moscow-yv-logo.png")
          .info
            p.headline Украшения для любимых от Московского ювелирного завода!
            .date 
              p 26 февраля – 8 марта
section.cinema
  .container
    .head-cinema
      p Сейчас в кино
      a Смотреть все
        img.svg(src="/dist/img/svg/index/all-stock-cinema.svg")
    .background-text
    #cinema-slider
      .cinema-slide
        img(src="./dist/img/jpg/index/aelita.jpg")
      .cinema-slide
        img(src="./dist/img/jpg/index/marvel.jpg")
      .cinema-slide
        img(src="./dist/img/jpg/index/zavod.jpg")
      .cinema-slide
        img(src="./dist/img/jpg/index/green-book.jpg")
      .cinema-slide
        img(src="./dist/img/jpg/index/mistresses.jpg")
      .cinema-slide
        img(src="./dist/img/jpg/index/humorist.jpg")
      .cinema-slide
        img(src="./dist/img/jpg/index/aelita.jpg")
      .cinema-slide
        img(src="./dist/img/jpg/index/marvel.jpg")
      .cinema-slide
        img(src="./dist/img/jpg/index/zavod.jpg")
      .cinema-slide
        img(src="./dist/img/jpg/index/green-book.jpg")
      .cinema-slide
        img(src="./dist/img/jpg/index/mistresses.jpg")
      .cinema-slide
        img(src="./dist/img/jpg/index/humorist.jpg")
.container
  section.developments
    .head-developments
      .left-block
        p События
        .links-right
          a.active Будущие события
          a Архив событий
      a Все события
        img.svg(src="/dist/img/svg/index/all-stock.svg")
      .zigzag-line
    #developments-slider
      .development-slide
        .img
          img(src="./dist/img/jpg/index/open-laboratory.jpg")
        .info
          p.date 6 МАРТА 2019
          p.headline ПРОВЕРЬ СВОЮ КАРТИНУ МИРА НА «ЛАБЕ» ВМЕСТЕ С СУРГУ!
          p.text Думаешь, что много знаешь об устройстве современного мира? Тогда докажи это! «Лаба» поможет тебе вспомнить всё: откуда мы произошли, как устроена природа и как работает техника. Интересно?
      .development-slide
        .img
          img(src="./dist/img/jpg/index/pizza.jpg")
        .info
          p.date 8 ФЕВРАЛЯ 2019
          p.headline ДЕНЬ ПИЦЦЫ!
          p.text 10 февраля проводим День Пиццы! Праздник состоится в ТРЦ "Сургут Сити Молл". Начало в 10:00 и до... 1000-ой пиццы!
      .development-slide
        .img
          img(src="./dist/img/jpg/index/yellow-girl.jpg")
        .info
          p.date 2 ФЕВРАЛЯ 2019
          p.headline АФИША МЕРОПРИЯТИЙ НА ФЕВРАЛЬ 2019
          p.text Афиша мероприятий на февраль 2019. Детский мастер-класс «Согреваем музыкой» концерт #всемпобарабану. «ЭтноКвиз»
      .development-slide
        .img
          img(src="./dist/img/jpg/index/open-laboratory.jpg")
        .info
          p.date 6 МАРТА 2019
          p.headline ПРОВЕРЬ СВОЮ КАРТИНУ МИРА НА «ЛАБЕ» ВМЕСТЕ С СУРГУ!
          p.text Думаешь, что много знаешь об устройстве современного мира? Тогда докажи это! «Лаба» поможет тебе вспомнить всё: откуда мы произошли, как устроена природа и как работает техника. Интересно?
      .development-slide
        .img
          img(src="./dist/img/jpg/index/pizza.jpg")
        .info
          p.date 8 ФЕВРАЛЯ 2019
          p.headline ДЕНЬ ПИЦЦЫ!
          p.text 10 февраля проводим День Пиццы! Праздник состоится в ТРЦ "Сургут Сити Молл". Начало в 10:00 и до... 1000-ой пиццы!
      .development-slide
        .img
          img(src="./dist/img/jpg/index/yellow-girl.jpg")
        .info
          p.date 2 ФЕВРАЛЯ 2019
          p.headline АФИША МЕРОПРИЯТИЙ НА ФЕВРАЛЬ 2019
          p.text Афиша мероприятий на февраль 2019. Детский мастер-класс «Согреваем музыкой» концерт #всемпобарабану. «ЭтноКвиз»
      .development-slide
        .img
          img(src="./dist/img/jpg/index/open-laboratory.jpg")
        .info
          p.date 6 МАРТА 2019
          p.headline ПРОВЕРЬ СВОЮ КАРТИНУ МИРА НА «ЛАБЕ» ВМЕСТЕ С СУРГУ!
          p.text Думаешь, что много знаешь об устройстве современного мира? Тогда докажи это! «Лаба» поможет тебе вспомнить всё: откуда мы произошли, как устроена природа и как работает техника. Интересно?
      .development-slide
        .img
          img(src="./dist/img/jpg/index/pizza.jpg")
        .info
          p.date 8 ФЕВРАЛЯ 2019
          p.headline ДЕНЬ ПИЦЦЫ!
          p.text 10 февраля проводим День Пиццы! Праздник состоится в ТРЦ "Сургут Сити Молл". Начало в 10:00 и до... 1000-ой пиццы!
      .development-slide
        .img
          img(src="./dist/img/jpg/index/yellow-girl.jpg")
        .info
          p.date 2 ФЕВРАЛЯ 2019
          p.headline АФИША МЕРОПРИЯТИЙ НА ФЕВРАЛЬ 2019
          p.text Афиша мероприятий на февраль 2019. Детский мастер-класс «Согреваем музыкой» концерт #всемпобарабану. «ЭтноКвиз»
include include/vendor.pug
script(src="./dist/js/index.js")
include include/footer.pug
