#main-slider
  width: 100%
  height: 100%
  display: flex
  align-items: center
  position: relative
  .slide
    width: 100%
    img
      width: 100%
  .slick-prev
    left: 130px
    cursor: pointer
    position: absolute
    z-index: 1
  .slick-next
    right: 130px
    cursor: pointer
    position: absolute
    z-index: 1
.container
  width: 100%
  margin: 0 auto
  max-width: 1920px
  align-items: center
  .poster
    width: 205px
    height: 194px
    bottom: 80px
    cursor: pointer
    margin-left: 87px
    position: relative
    background: url(../img/svg/index/poster.svg)
    background-position: 0 0
    background-repeat: no-repeat
    &:hover
      background-position: -253px 0

  .container
    width: 100%
    margin: 0 auto
    max-width: 1920px
    align-items: center
    .stocks
      width: 90%
      margin: 0 auto
      height: 710px
      margin-top: -75px
      position: relative
      .head-stocks
        width: 98.5%
        display: flex
        margin: 0 auto
        align-items: center
        justify-content: space-between
        p
          font-size: 32px
          line-height: 61px
          font-family: GothamPro-Medium
        a
          display: flex
          transition: 0.3s
          align-items: center
          &:hover
            transition: 0.3s
            color: $yellow
            svg
              path
                transition: 0.3s
                fill: $yellow
          svg
            margin-left: 8px
            path
              transition: 0.3s
        .zigzag-line
          width: 98.5%
          height: 7px
          margin-top: 48px
          position: absolute
          background-image: url(../img/svg/index/zigzag-line.svg)
      .body-stocks
        margin-top: 42px
        display: flex
        position: relative
        justify-content: space-between
        a.stock
          margin: 0 12px
          max-width: 260px
          max-height: 423px
          min-width: 160px
          cursor: pointer
          transition: .3s
          border: 1px solid $border-silver
          &:hover
            transition: .3s
            background: $yellow
            p.headline, p.text, .date p
              color: $white
              transition: .3s
            .img
              .background
                opacity: 0.7
                transition: .3s
              img
                transition: all 1s ease-out
                transform: scale(1.1)
          p.headline, p.text, .date p
            transition: .3s
          .img
            cursor: pointer
            overflow: hidden
            max-width: 260px
            height: auto
            display: flex
            min-width: 160px
            position: relative
            .background
              width: 100%
              height: 100%
              z-index: 1
              opacity: 0
              transition: .3s
              position: absolute
              background: $black
            img
              width: 100%
              height: 100%
              object-fit: cover
              transition: all 1s ease-out
            .logo
              top: 15px
              right: 11px
              z-index: 1
              max-width: 71px
              max-height: 71px
              position: absolute
              border: 1px solid $border-silver
              img
                transform: none
                width: 100%
          .info
            max-width: 260px
            height: 164px
            position: relative
            border-left: 0
            display: table-row
            border-top: 1px solid $border-silver
            p.headline
              max-width: 90%
              margin-right: 20px
              margin-left: 24px
              font-size: 15px
              line-height: 21px
              margin-top: 25px
              font-family: GothamPro-Medium
            .date
              bottom: 2px
              position: absolute
              margin-left: 24px
              p
              line-height: 24px
          &:first-child
            max-width: 832px
            max-height: 423px
            display: flex
            border: 1px solid $border-silver
            .img
              height: auto
              max-width: 572px
              min-width: 400px
              max-height: 423px
              position: relative
              img
                width: 100%
                object-fit: cover
              .logo
                top: 15px
                right: 11px
                width: 71px
                height: 71px
                position: absolute
                border: 1px solid $border-silver
                img
                  width: 100%
                  height: 100%
            .info
              min-width: 240px
              height: 423px
              position: relative
              border-top: none
              p.headline
                max-width: 152px
                margin-left: 24px
                font-size: 15px
                line-height: 21px
                margin-top: 27px
                font-family: GothamPro-Medium
              p.text
                max-width: 90%
                min-width: 127px
                margin-left: 24px
                margin-right: 20px
                line-height: 24px
              .date
                bottom: 7px
                position: absolute
                margin-left: 24px
                p
                  line-height: 24px
.cinema
  width: 100%
  height: max-content
  position: relative
  background: $yellow
  &:before
    content: ""
    background: linear-gradient(-35deg, $yellow 16px,  transparent 0),
    linear-gradient(35deg, $yellow 16px, transparent 0)
    background-position: left top
    background-repeat: repeat-x
    background-size: 22px 32px
    display: block
    height: 32px
    width: 100%
    position: relative
    bottom: 32px
    left: 0
  &:after
    content: ""
    background: linear-gradient(-35deg, transparent 16px, $yellow 0), linear-gradient(35deg, transparent 16px, $yellow 0)
    background-repeat: repeat-x
    background-position: left bottom
    background-size: 22px 32px
    display: block
    width: 100%
    height: 32px
    position: absolute
    bottom: -15px
    left: 0px
  .container
    width: 100%
    margin: 0 auto
    max-width: 1880px
    align-items: center
    .head-cinema
      width: 90%
      margin: 0 auto
      display: flex
      z-index: 1
      margin-top: -25px
      align-items: center
      position: relative
      justify-content: space-between
      p
        color: $white
        font-size: 32px
        line-height: 61px
        font-family: GothamPro-Medium
      a
        color: $white
        display: flex
        align-items: center
        cursor: pointer
        transition: 0.3s
        &:hover
          transition: 0.3s
          color: $light-yellow
          svg
            path
              transition: 0.3s
              fill: $light-yellow
        svg
          margin-left: 8px
          path
            transition: 0.3s
    .background-text
      top: 35px
      left: 75px
      right: 0
      width: 70%
      height: 100%
      margin: 0 auto
      max-width: 1200px
      min-width: 440px
      position: absolute
      background-image: url(../img/png/index/now-in-the-cinema.png)
      background-size: 100%
      background-repeat: no-repeat
    #cinema-slider
      margin-top: -10px
      display: flex
      max-width: 91%
      margin: 0 auto
      margin-bottom: 75px
      align-items: center
      .cinema-prev
        left: -32px
        cursor: pointer
        position: absolute
      .cinema-next
        right: -38px
        cursor: pointer
        position: absolute
      .slick-slide
        margin: 0 12.5px
      .cinema-slide
        width: 100%
        height: auto
        overflow: hidden
        cursor: pointer
        position: relative
        max-height: 387px
        .info
          .background
            width: 100%
            height: 100%
            z-index: 1
            opacity: 0
            transition: .3s
            position: absolute
            background: $black
          .block-inside
            z-index: 0
            opacity: 0
            margin-left: 23px
            position: absolute
            p.name
              margin: 0
              margin-top: 26px
              color: $white
              font-family: GothamPro-Medium
              font-size: 15px
              line-height: 20px
            span.genre
              color: $yellow
              font-family: GothamPro
              font-size: 13px
              line-height: 20px
            .sessions
              margin-top: 35%
              p
                color: $white
                font-family: GothamPro-Medium
                font-size: 14px
                line-height: 20px
              .times
                width: 90%
                display: flex
                margin-top: 10px
                flex-wrap: wrap
                flex-direction: row
                justify-content: space-between
                .time
                  width: 47px
                  height: 17px
                  background: $red
                  margin-bottom: 10px
                  display: flex
                  align-items: center
                  justify-content: center
                  padding-top: 4px
                  span
                    color: $white
                    font-family: GothamPro
                    font-size: 13px
                    line-height: 20px
        &:hover
          .info
            z-index: 1
            .background
              opacity: 0.7
            .block-inside
              opacity: 1
              z-index: 1
          img
            transform: scale(1.1)
        img
          width: 100%
          height: 100%
          transition: all 1s ease-out
.container
  .developments
    width: 90%
    margin: 0 auto
    margin-top: 83px
    margin-bottom: 200px
    position: relative
    .head-developments
      width: 98.5%
      display: flex
      margin: 0 auto
      align-items: center
      justify-content: space-between
      .left-block
        width: 100%
        display: flex
        max-width: 545px
        align-items: center
        justify-content: space-between
        p
          font-size: 32px
          line-height: 61px
          font-family: GothamPro-Medium
        .links-right
          width: 100%
          display: flex
          max-width: 300px
          align-items: center
          justify-content: space-between
          a
            font-size: 16px
            line-height: 61px
            transition: 0.3s
            color: $link-silver
            &:hover
              color: $hover-silver
              transition: 0.3s
            &.active
              color: $yellow
      a
        display: flex
        transition: 0.3s
        align-items: center
        &:hover
          transition: 0.3s
          color: $yellow
          svg
            path
              transition: 0.3s
              fill: $yellow
        svg
          margin-left: 8px
          path
            transition: 0.3s
      .zigzag-line
        width: 98.5%
        height: 7px
        margin-top: 48px
        position: absolute
        background-image: url(../img/svg/index/zigzag-line.svg)
    #developments-slider
      display: flex
      margin: 0 auto
      margin-top: 35px
      align-items: center
      .slick-arrow
        cursor: pointer
      .devel-prev
        top: 135px
        left: -34px
        position: absolute
      .devel-next
        top: 135px
        right: -29px
        position: absolute
      .slick-slide
        margin: 0 13px
      .development-slide
        cursor: pointer
        position: relative
        max-width: 545px
        max-height: 640px
        &:hover
          .img
            .background
              opacity: 0.7
              transition: .3s
            img
              transform: scale(1.1)
          .info
            p.headline
              color: $yellow
              transition: .3s
        .img
          overflow: hidden
          position: relative
          max-width: 545px
          max-height: 477px
          .background
            width: 100%
            height: 100%
            z-index: 1
            opacity: 0
            transition: .3s
            position: absolute
            background: $black
          img
            height: auto
            max-width: 100%
            transition: all 1s ease-out
        .info
          width: 100%
          height: 100%
          p.date
            margin: 7px 0
            margin-top: 18px
            color: $link-silver
            font-size: 11px
            line-height: 21px
          p.headline
            margin: 7px 0
            transition: .3s
            font-family: GothamPro-Medium
            color: $dark-gray
            font-size: 15px
            line-height: 21px
          p.text
            margin: 7px 0
            font-size: 14px
            line-height: 30px
  .videos
    width: 90%
    margin: 0 auto
    height: max-content
    margin-top: -140px
    margin-bottom: 170px
    position: relative
    .head-videos
      width: 98.5%
      display: flex
      margin: 0 auto
      align-items: center
      justify-content: space-between
      p
        font-size: 32px
        line-height: 61px
        font-family: GothamPro-Medium
      a
        display: flex
        transition: 0.3s
        align-items: center
        &:hover
          transition: 0.3s
          color: $yellow
          svg
            path
              transition: 0.3s
              fill: $yellow
        svg
          transition: 0.3s
          margin-left: 8px
      .zigzag-line
        width: 98.5%
        height: 7px
        margin-top: 48px
        position: absolute
        background-image: url(../img/svg/index/zigzag-line.svg)
    .body-videos
      width: 100%
      margin: 0 auto
      margin-top: 42px
      display: flex
      position: relative
      justify-content: space-between
      .block-video
        margin: 0 12px
        cursor: pointer
        position: relative
        max-width: 546px
        max-height: 408px
        &:hover
          .img
            .background
              opacity: 0.7
              transition: .3s
            .arrow
              img
                transition: .3s
                transform: scale(0.7)
          .info
            p.headline
              color: $yellow
              transition: .3s
        .img
          display: grid
          overflow: hidden
          position: relative
          max-width: 546px
          max-height: 307px
          .background
            width: 100%
            height: 100%
            z-index: 1
            opacity: 0.4
            transition: .3s
            position: absolute
            background: $black
          .arrow
            top: 0
            left: 0
            right: 0
            bottom: 0
            z-index: 1
            margin: 0 auto
            display: flex
            position: absolute
            align-items: center
            justify-content: center
            img
              width: 44px
              height: 56px
              transition: .3s

          img
            height: auto
            max-width: 100%
            transition: all 1s ease-out
        .info
          width: 100%
          height: 100%
          p.date
            margin: 7px 0
            margin-top: 18px
            color: $link-silver
            font-size: 11px
            line-height: 21px
          p.headline
            margin: 7px 0
            transition: .3s
            font-family: GothamPro-Medium
            color: $dark-gray
            font-size: 15px
            line-height: 21px
          p.text
            margin: 7px 0
            font-size: 14px
            line-height: 30px
  .container
    width: 100%
    margin: 0 auto
    max-width: 1920px
    align-items: center
    .new-items
      width: 90%
      margin: 0 auto
      height: max-content
      margin-top: -140px
      position: relative
      .head-new-items
        width: 98.5%
        display: flex
        margin: 0 auto
        align-items: center
        justify-content: space-between
        p
          font-size: 32px
          line-height: 61px
          font-family: GothamPro-Medium
        a
          display: flex
          transition: 0.3s
          align-items: center
          &:hover
            transition: 0.3s
            color: $yellow
            svg
              path
                transition: 0.3s
                fill: $yellow
          svg
            margin-left: 8px
            path
              transition: 0.3s
        .zigzag-line
          width: 98.5%
          height: 7px
          margin-top: 48px
          position: absolute
          background-image: url(../img/svg/index/zigzag-line.svg)
      .season
        width: 98.5%
        max-height: 120px
        margin: 0 auto
        margin-top: 43px
        img
          width: 100%
          object-fit: cover
      .body-new-items
        width: 98.5%
        margin: 0 auto
        margin-top: 39px
        max-height: 516px
        &.four
          display: grid
          grid-gap: 24px
          grid-template-areas:
          "first second four"\
          "first third four"
          a.new-item
            overflow: hidden
            position: relative
            .background
              width: 100%
              height: 100%
              z-index: 1
              opacity: 0
              transition: .3s
              position: absolute
              background: $black
            .img
              position: relative
              img
                transition: all 1s ease-out
            &:hover
              .background
                opacity: 0.7
                transition: .3s
              img
                transition: all 1s ease-out
                transform: scale(1.1)
              .block-text
                p.headline, p.text
                  color: $yellow
                  transition: .3s
            .block-text
              z-index: 1
              position: absolute
              p.headline
                margin: 0
                color: $white
                font-size: 36px
                line-height: 33px
                transition: .3s
                font-family: GothamPro-Medium
              p.text
                margin: 0
                transition: .3s
                color: $white
                font-size: 15px
                line-height: 15px
            &:first-child
              grid-area: first
              .img
                width: 100%
                height: 100%
                display: flex
                // max-width: 831px
                max-height: 516px
                min-width: 283px
                img
                  width: 100%
                  height: 100%
                  object-fit: cover
              .block-text
                width: 100%
                width: 368px
                margin-left: 50px
                bottom: 40px
            &:nth-child(2)
              .img
                width: 100%
                height: 100%
                display: flex
                // max-width: 451px
                max-height: 246px
                min-width: 222px
                min-height: 77px
                img
                  width: 100%
                  height: 100%
                  object-fit: cover
              grid-area: second
              .block-text
                width: 100%
                width: 292px
                margin-left: 30px
                bottom: 28px
            &:nth-child(3)
              grid-area: third
              .img
                width: 100%
                height: 100%
                display: flex
                // max-width: 451px
                max-height: 246px
                min-width: 222px
                min-height: 77px
                img
                  width: 100%
                  height: 100%
                  object-fit: cover
              .block-text
                width: 100%
                max-width: 292px
                margin-left: 30px
                bottom: 28px
            &:nth-child(4)
              grid-area: four
              .img
                width: 100%
                height: 100%
                display: flex
                // max-width: 356px
                max-height: 516px
                min-width: 161px
                min-height: 176px
                img
                  width: 100%
                  height: 100%
                  object-fit: cover
              .block-text
                width: 100%
                width: 205px
                margin-left: 30px
                bottom: 27px
        &.three
          display: grid
          grid-gap: 24px
          grid-template-areas:
          "first second third"
          a.new-item
            overflow: hidden
            position: relative
            .background
              width: 100%
              height: 100%
              z-index: 1
              opacity: 0
              transition: .3s
              position: absolute
              background: $black
            .img
              position: relative
              img
                transition: all 1s ease-out
            &:hover
              .background
                opacity: 0.7
                transition: .3s
              img
                transition: all 1s ease-out
                transform: scale(1.1)
              .block-text
                p.headline, p.text
                  color: $yellow
                  transition: .3s
            .block-text
              z-index: 1
              position: absolute
              p.headline
                margin: 0
                color: $white
                font-size: 36px
                line-height: 33px
                font-family: GothamPro-Medium
              p.text
                margin: 0
                color: $white
                font-size: 15px
                line-height: 33px
            &:first-child
              grid-area: first
              .img
                width: 100%
                height: 100%
                display: flex
                // max-width: 831px
                max-height: 516px
                img
                  width: 100%
                  height: 100%
                  object-fit: cover
              .block-text
                width: 100%
                width: 368px
                margin-left: 50px
                bottom: 57px
            &:nth-child(2)
              .img
                width: 100%
                height: 100%
                display: flex
                // max-width: 356px
                max-height: 516px
                img
                  width: 100%
                  height: 100%
                  object-fit: cover
              .block-text
                width: 100%
                width: 310px
                margin-left: 30px
                bottom: 27px
            &:nth-child(3)
              grid-area: third
              .img
                width: 100%
                height: 100%
                display: flex
                // max-width: 356px
                max-height: 516px
                img
                  width: 100%
                  height: 100%
                  object-fit: cover
              .block-text
                width: 100%
                width: 310px
                margin-left: 30px
                bottom: 50px
        &.two
          display: grid
          grid-gap: 24px
          grid-template-areas:
          "first second"
          a.new-item
            overflow: hidden
            position: relative
            .background
              width: 100%
              height: 100%
              z-index: 1
              opacity: 0
              transition: .3s
              position: absolute
              background: $black
            .img
              position: relative
              img
                transition: all 1s ease-out
            &:hover
              .background
                opacity: 0.7
                transition: .3s
              img
                transition: all 1s ease-out
                transform: scale(1.1)
              .block-text
                p.headline, p.text
                  color: $yellow
                  transition: .3s
            .block-text
              z-index: 1
              position: absolute
              p.headline
                margin: 0
                color: $white
                font-size: 36px
                line-height: 33px
                font-family: GothamPro-Medium
              p.text
                margin: 0
                color: $white
                font-size: 15px
                line-height: 33px
            &:first-child
              grid-area: first
              .img
                width: 100%
                height: 100%
                display: flex
                max-height: 516px
                img
                  width: 100%
                  object-fit: cover
              .block-text
                width: 100%
                width: 368px
                margin-left: 50px
                bottom: 43px
            &:nth-child(2)
              .img
                width: 100%
                height: 100%
                display: flex
                max-height: 516px
                img
                  width: 100%
                  object-fit: cover
              .block-text
                width: 100%
                width: 368px
                margin-left: 50px
                bottom: 40px
        &.one
          display: grid
          grid-gap: 24px
          grid-template-areas:
          "first"
          a.new-item
            max-width: 831px
            overflow: hidden
            position: relative
            .background
              width: 100%
              height: 100%
              z-index: 1
              opacity: 0
              transition: .3s
              position: absolute
              background: $black
            .img
              position: relative
              img
                transition: all 1s ease-out
            &:hover
              .background
                opacity: 0.7
                transition: .3s
              img
                transition: all 1s ease-out
                transform: scale(1.1)
              .block-text
                p.headline, p.text
                  color: $yellow
                  transition: .3s
            .block-text
              z-index: 1
              position: absolute
              p.headline
                margin: 0
                color: $white
                font-size: 36px
                line-height: 33px
                font-family: GothamPro-Medium
              p.text
                margin: 0
                color: $white
                font-size: 15px
                line-height: 33px
            &:first-child
              grid-area: first
              .img
                width: 831px
                height: 516px
                img
                  width: 100%
                  height: 100%
                  object-fit: cover
              .block-text
                width: 100%
                width: 368px
                margin-left: 50px
                bottom: 30px
  .container
    .instagram-block
      width: 90%
      margin: 0 auto
      margin-top: 89px
      position: relative
      .head-instagram
        width: 98.5%
        display: flex
        margin: 0 auto
        align-items: center
        justify-content: space-between
        .left-block
          width: 100%
          display: flex
          max-width: 666px
          align-items: center
          justify-content: space-between
          p
            font-size: 32px
            line-height: 61px
            font-family: GothamPro-Medium
          .links-right
            width: 100%
            display: flex
            max-width: 300px
            align-items: center
            justify-content: space-between
            a
              font-size: 16px
              line-height: 61px
              transition: 0.3s
              color: $link-silver
              svg
                margin-right: 8px
                margin-bottom: 3px
                path
                  transition: 0.3s

              &:hover
                color: $yellow
                transition: 0.3s
        a
          display: flex
          transition: 0.3s
          align-items: center
          &:hover
            transition: 0.3s
            color: $yellow
            svg
              path
                transition: 0.3s
                fill: $yellow
          svg
            margin-left: 8px
            path
              transition: 0.3s
        .zigzag-line
          width: 98.5%
          height: 7px
          margin-top: 48px
          position: absolute
          background-image: url(../img/svg/index/zigzag-line.svg)
      #instagram-slider
        display: flex
        margin: 0 auto
        margin-top: 31px
        align-items: center
        .slick-arrow
          cursor: pointer
        .instagram-prev
          left: -34px
          position: absolute
        .instagram-next
          right: -32px
          position: absolute
        .slick-slide
          margin: 0 13px
        .img
          cursor: pointer
          overflow: hidden
          width: 100%
          height: 100%
          position: relative
          max-width: 261px
          max-height: 261px
          .background
            width: 100%
            height: 100%
            z-index: 1
            opacity: 0
            transition: .3s
            position: absolute
            background: $black
          img
            width: 100%
            transition: all 1s ease-out
          &:hover
            .background
              opacity: 0.7
              transition: .3s
            img
              transition: all 1s ease-out
              transform: scale(1.1)

@import '/media.styl'
