@media screen and (max-device-width: 1460px)
  a.stock
    &:nth-child(4)
      display: none
  .container
    .container
      .new-items
        .body-new-items.four
          a.new-item:first-child
            .block-text
              max-width: 300px
@media screen and (max-device-width: 1320px)
  .container
    .links-block
      a.scheme, a.how-to-get
        display: none
  .cinema
    .container
      #cinema-slider
        .cinema-slide
          .info
            .block-inside
              .sessions
                margin-top: 20%

@media screen and (max-device-width: 1250px)
  a.stock
    &:first-child
      p.text
        width: 65%
