@media screen and (max-device-width: 1320px)
  .container
    .links-block
      a.scheme, a.how-to-get
        display: none
  a.stock
    &:last-child
      display: none

@media screen and (max-device-width: 1250px)
  a.stock
    &:first-child
      p.text
        width: 65%
