@media screen and (max-device-width: 1170px)
  #main-slider
    .slick-next
      right: 28px
    .slick-prev
      left: 28px
  .container
    .poster
      width: 172px
      height: 125px
      bottom: 55px
      margin-left: -18px
      background-size: 160%
      background-position: 32px 0
      &:hover
        background-position: -130.6px 0
    .container
      .stocks
        width: 95%
        height: 620px
        margin-top: -80px
        .head-stocks
          p
            font-size: 22px
          .zigzag-line
            margin-top: 30px
        .body-stocks
          margin-top: 15px
          a.stock
            margin: 0 10px
            max-height: none
            flex-direction: column
            .img
              .logo
                width: 50px
                height: 50px
            .info
              max-width: fit-content
              p.headline
                max-width: 90% !important
                margin-left: 16px !important
                font-size: 13px !important
              .date
                margin-left: 16px
                p
                  font-size: 11px
                  margin-bottom: 6px
            &:first-child
              max-height: max-content
              max-width: 500px
              .img
                min-width: auto
                min-height: 160px
                max-height: 260px
                .logo
                  width: 50px
                  height: 50px
              .info
                height: auto
                width: 100%
                p.text
                  width: 95%
                  margin-left: 16px
                .date
                  margin-left: 16px !important
                  position: inherit
                  p
                    margin-bottom: 12px
  .cinema
    .container
      .background-text
        left: 30px
        width: 60%
        top: 5px
      .head-cinema
        width: 92%
        height: 50px
        p
          font-size: 22px
      #cinema-slider
        margin-bottom: 54px
        max-width: 100%
        .cinema-slide
          .info
            .block-inside
              margin-left: 12px
              .sessions
                margin-top: 0
                .times
                  width: 95%
  .container
    .developments
      width: 100%
      margin-top: 32px
      .head-developments
        width: 93%
        .zigzag-line
          width: 93%
          margin-top: 30px
        .left-block
          max-width: 390px
          p
            font-size: 22px
          .links-right
            max-width: 250px
            a
              font-size: 13px
      #developments-slider
        .development-slide
          .info
            p.headline
              font-size: 13px
            p.text
              font-size: 13px
  .container
    .videos
      width: 95%
      margin-top: -175px
      .head-videos
        p
          font-size: 22px
        .zigzag-line
          margin-top: 30px
      .body-videos
        margin-top: 15px
        .block-video
          margin: 0 10px
          .info
            p.headline
              font-size: 13px
          .img
            .arrow
              img
                width: 24px
                height: 30px
  .container
    .container
      .new-items
        width: 95%
        .head-new-items
          p
            font-size: 22px
          .zigzag-line
            margin-top: 30px
        .season
          margin-top: 15px
        .body-new-items
          a.new-item
            .block-text
              max-width: 182px !important
              margin-left: 16px !important
              bottom: 16px !important
              p.headline
                font-size: 18px !important
              p.text
                line-height: 20px !important
                font-size: 13px !important

    .container
      .instagram-block
        width: 95%
        margin-top: 68px
        .head-instagram
          .left-block
            max-width: 555px
            p
              font-size: 22px
            a
              font-size: 13px
          .zigzag-line
            margin-top: 30px
        #instagram-slider
          margin-top: 15px
