@font-face
  font-family: GothamPro
  src: url("../fonts/GothamPro.ttf")
  font-weight: 400
  font-style: normal

@font-face
  font-family: GothamPro-Medium
  src: url("../fonts/GothamPro-Medium.ttf")
  font-weight: 500
  font-style: normal
