.under-header
  width: 100%
  height: 110px
  display: none
  &.active
    display: block
header
  width: 100%
  height: 110px
  display: flex
  transition: .3s
  border-bottom: 1px solid $light-gray
  &.active
    top: 0
    z-index: 3
    transition: .3s
    background: $red
    position: fixed
    border-bottom: 1px solid $white
  .container
    width: 100%
    margin: 0 auto
    display: flex
    max-width: 1920px
    align-items: center
    justify-content: space-between
    .main-logo
      width: 242px
      min-width: 242px
      height: 54px
      display: flex
      margin-left: 20px
      cursor: pointer
      img
        width: 100%
    .links-block
      width: 100%
      padding: 0 15px
      max-width: 930px
      display: flex
      justify-content: space-around
      a
        margin: 0 10px
        white-space: nowrap
        &.select
          border-bottom: 2px solid $yellow
        &.active
          svg
            path
              transition: .3s
              fill: $white
          color: $white
        &:hover
          color: $yellow
          transition: .3s
      .scheme
        display: flex
        cursor: pointer
        position: relative
        align-items: center
        svg
          width: 13px
          height: 17px
          margin-right: 8px
          path
            transition: .3s
        &:hover
          color: $yellow
          transition: .3s
          svg
            path
              transition: .3s
              fill: $yellow
      .how-to-get
        display: flex
        cursor: pointer
        position: relative
        align-items: center
        svg
          width: 17px
          height: 17px
          margin-right: 8px
          path
            transition: .3s
        &:hover
          color: $yellow
          transition: .3s
          svg
            path
              transition: .3s
              fill: $yellow
    .mode-and-social
      display: flex
      width: 100%
      max-width: 310px
      align-items: center
      justify-content: space-between
      p.operation-mode
        padding: 0 10px
        display: flex
        white-space: nowrap
        position: relative
        align-items: center
        justify-content: space-between
        svg
          margin-right: 8px
        &.active
          color: $white
          svg
            path
              fill: $white
      .social-links
        padding: 0 20px
        display: flex
        align-items: center
        justify-content: space-between
        .instagram
          width: 21.78px
          height: 21.78px
          svg
            path
              transition: .3s
          &.active
            svg
              path
                fill: $white
          &:hover
            color: $yellow
            transition: .3s
            svg
              path
                transition: .3s
                fill: $yellow
        .facebook
          width: 12px
          height: 23px
          margin-left: 25px
          svg
            path
              transition: .3s
          &.active
            svg
              path
                fill: $white
          &:hover
            color: $yellow
            transition: .3s
            svg
              path
                transition: .3s
                fill: $yellow
        .vk
          width: 25.5px
          height: 25.5px
          margin-left: 25px
          svg
            path
              transition: .3s
          &.active
            svg
              path
                fill: $white
          &:hover
            color: $yellow
            transition: .3s
            svg
              path
                transition: .3s
                fill: $yellow
    .search-and-burger
      display: flex
      width: 48px
      margin-right: 60px
      align-items: center
      justify-content: space-between
      .search
        cursor: pointer
        width: 18.49px
        height: 19.15px
        margin-right: 30px
        svg
          path
            transition: .3s
        &.active
          svg
            path
              fill: $white
        &:hover
          color: $yellow
          transition: .3s
          svg
            path
              transition: .3s
              fill: $yellow
        &.hide
          display: none
      .close
        cursor: pointer
        width: 18.49px
        height: 19.15px
        margin-right: 30px
        &:before
          content: ""
          height: 2px
          width: 22px
          right: 0
          margin-top: 10px
          display: block
          margin-left: -2px
          background: $white
          border-radius: 2px
          transform: rotate(45deg)
        &:after
          content: ""
          height: 2px
          width: 22px
          right: 0
          margin-top: -2px
          display: block
          margin-left: -2px
          background: $white
          border-radius: 2px
          transform: rotate(135deg)
        &.hide
          display: none
        &:hover
          &:before, &:after
            background: $yellow
      .menu-icon
        position: absolute
        width: 21px
        height: 20px
        margin-left: 50px
        cursor: pointer
        transition: .3s
        .dot
          position: absolute
          top: 50%
          left: 50%
          width: 5px
          height: 5px
          background-color: $dark-gray
          border-radius: 16px
          -webkit-transform: translate(-50%, -50%) rotate(45deg)
          -moz-transform: translate(-50%, -50%) rotate(45deg)
          -ms-transform: translate(-50%, -50%) rotate(45deg)
          -o-transform: translate(-50%, -50%) rotate(45deg)
          transform: translate(-50%, -50%) rotate(45deg)
          transition: .3s
          &:nth-of-type(1)
            margin-top: -7.5px
            margin-left: -7.5px
            -webkit-transform: translate(-50%, -50%) rotate(45deg)
            -moz-transform: translate(-50%, -50%) rotate(45deg)
            -ms-transform: translate(-50%, -50%) rotate(45deg)
            -o-transform: translate(-50%, -50%) rotate(45deg)
            transform: translate(-50%, -50%) rotate(45deg)
          &:nth-of-type(2)
            margin-top -7.5px
            -webkit-transform: translate(-50%, -50%) rotate(-45deg)
            -moz-transform: translate(-50%, -50%) rotate(-45deg)
            -ms-transform: translate(-50%, -50%) rotate(-45deg)
            -o-transform: translate(-50%, -50%) rotate(-45deg)
            transform: translate(-50%, -50%) rotate(-45deg)
          &:nth-of-type(3)
            margin-top: -7.5px
            margin-left: 6.5px
          &:nth-of-type(4)
            margin-left: -7.5px
          &:nth-of-type(6)
            margin-left: 6.5px
          &:nth-of-type(7)
            margin-top: 6.5px
            margin-left: -7.5px
          &:nth-of-type(8)
            margin-top: 6.5px
          &:nth-of-type(9)
            margin-top: 6.5px
            margin-left: 6.5px
        &.clicked
          .dot
            background: $white
            -webkit-transition: margin 0.4s ease, width 0.4s ease 0.4s
            -moz-transition: margin 0.4s ease, width 0.4s ease 0.4s
            -o-transition: margin 0.4s ease, width 0.4s ease 0.4s
            transition: margin 0.4s ease, width 0.4s ease 0.4s
            height: 2px
            margin-left: 0
            margin-top: 0
            &:nth-of-type(1)
              height: 2px
              width: 22px
            &:nth-of-type(2)
              height: 2px
              width: 22px
              margin-top: 0
            &:nth-of-type(3)
              height: 1px
              margin-top: 0
            &:nth-of-type(4)
              height: 1px
              margin-top: 0
            &:nth-of-type(6)
              height: 1px
              margin-top: 0
            &:nth-of-type(7)
              height: 1px
              margin-top: 0
            &:nth-of-type(8)
              height: 1px
              margin-top: 0
            &:nth-of-type(9)
              height: 1px
              margin-top: 0
        &.hide
          display: none
        &:hover
          .dot
            background: $yellow
        &.search-active
          .dot
            background: $white
.menu-header
  width: 100%
  z-index: 3
  height: 135px
  display: none
  transition: .3s
  background: $red
  overflow-y: scroll
  overflow-x: hidden
  position: absolute
  &:after
    content: ""
    background: linear-gradient(-35deg, transparent 16px, $red 0), linear-gradient(35deg, transparent 16px, $red 0)
    background-repeat: repeat-x
    background-position: left bottom
    background-size: 22px 32px
    display: block
    width: 100%
    height: 32px
    z-index: 1
    position: absolute
    bottom: -15px
    left: 0px
  &.active
    top: 111px
    display: flex
    transition: .3s
    position: fixed
    align-items: center
    justify-content: center
    &:after
      top: 230px
      bottom: unset
      position: fixed
  p.operation-mode
    top: 7px
    left: 11px
    padding: 0 10px
    display: none
    white-space: nowrap
    position: absolute
    align-items: center
    justify-content: space-between
    svg
      margin-right: 8px
    &.active
      color: $white
      svg
        path
          fill: $white
  .social-links
    left: 0
    top: 65px
    display: none
    padding: 0 20px
    align-items: center
    position: absolute
    justify-content: start
    .instagram
      width: 21.78px
      height: 21.78px
      svg
        path
          fill: $white
          transition: .3s
      &:hover
        color: $yellow
        transition: .3s
        svg
          path
            transition: .3s
            fill: $yellow
    .facebook
      width: 12px
      height: 23px
      margin-left: 25px
      svg
        path
          fill: $white
          transition: .3s
      &:hover
        color: $yellow
        transition: .3s
        svg
          path
            transition: .3s
            fill: $yellow
    .vk
      width: 25.5px
      height: 25.5px
      margin-left: 25px
      svg
        path
          fill: $white
          transition: .3s
      &:hover
        color: $yellow
        transition: .3s
        svg
          path
            transition: .3s
            fill: $yellow
  .search
    left: -2px
    top: 130px
    display: none
    cursor: pointer
    width: 18.49px
    height: 19.15px
    margin-left: 25px
    margin-right: 30px
    position: absolute
    svg
      path
        fill: $white
        transition: .3s
    &:hover
      color: $yellow
      transition: .3s
      svg
        path
          transition: .3s
          fill: $yellow
  .tablet-menu
    display: none
  .center-line
    display: none
  .links-block
    left: 0
    width: 100%
    display: flex
    padding: 0 15px
    max-width: 930px
    justify-content: space-around
    a
      padding: 0 10px
      color: $white
      white-space: nowrap
      &.active
        svg
          path
            transition: .3s
            fill: $white
        color: $white
      &:hover
        color: $yellow
        transition: .3s
    .scheme
      display: none
      cursor: pointer
      position: relative
      align-items: center
      svg
        width: 13px
        height: 17px
        margin-right: 8px
        path
          transition: .3s
      &:hover
        color: $yellow
        transition: .3s
        svg
          path
            transition: .3s
            fill: $yellow
    .how-to-get
      display: none
      cursor: pointer
      position: relative
      align-items: center
      svg
        width: 17px
        height: 17px
        margin-right: 8px
        path
          transition: .3s
      &:hover
        color: $yellow
        transition: .3s
        svg
          path
            transition: .3s
            fill: $yellow
.background-menu
  width: 100%
  height: 100%
  opacity: 0.7
  z-index: 2
  display: none
  position: fixed
  background: $black
  &.active
    display: block
.search-header
  top: 111px
  width: 100%
  z-index: 3
  height: 135px
  display: none
  transition: .3s
  background: $red
  position: fixed
  &:after
    content: ""
    background: linear-gradient(-35deg, transparent 16px, $red 0), linear-gradient(35deg, transparent 16px, $red 0)
    background-repeat: repeat-x
    background-position: left bottom
    background-size: 22px 32px
    display: block
    width: 100%
    height: 32px
    z-index: 1
    position: absolute
    bottom: -15px
    left: 0px
  &.active
    display: flex
    transition: .3s
    align-items: center
    justify-content: center
  .block-search
    display: flex
    align-items: center
    p
      color: $white
      font-family: 'GothamPro-Medium'
      font-size: 44px
    form
      display: flex
      margin-left: 35px
      .magnifier
        display: none
      input
        width: 662px
        height: 40px
        outline: none
        transition: .3s
        background: none
        border-radius: 20px
        box-sizing: border-box
        border: 1px solid $white
      input[type="text"]
        color: $white
        font-size: 13px
        padding-left: 20px
      ::placeholder
        transition: .3s
        opacity: 0.6
        color: $white
      button
        width: 200px
        height: 40px
        outline: none
        color: $white
        transition: .3s
        cursor: pointer
        font-size: 13px
        background: none
        margin-left: 10px
        border-radius: 20px
        border: 2px solid $white
        &:hover
          color: $yellow
          transition: .3s
          border: 2px solid $yellow
.background-search
  width: 100%
  height: 100%
  z-index: 2
  display: none
  position: fixed
  background: $white
  &.active
    display: block
