header
  width: 100%
  height: 110px
  display: flex
  .container
    width: 100%
    margin: 0 auto
    display: flex
    padding: 0 25px
    max-width: 1920px
    min-width: 1170px
    align-items: center
    justify-content: space-between
    .main-logo
      width: 242px
      min-width: 242px
      height: 54px
      display: flex
      margin-left: 20px
      cursor: pointer
      img
        width: 100%
    .links-block
      width: 100%
      padding: 0 15px
      max-width: 930px
      display: flex
      justify-content: space-around
      a
        padding: 0 10px
        white-space: nowrap
      .scheme
        display: flex
        cursor: pointer
        position: relative
        align-items: center
        &:before
          content ""
          width: 13px
          height: 17px
          margin-right: 8px
          background-image: url(../img/svg/header/marker.svg)
      .how-to-get
        display: flex
        cursor: pointer
        position: relative
        align-items: center
        &:before
          content ""
          width: 17px
          height: 17px
          margin-right: 8px
          background-image: url(../img/svg/header/arrow_like.svg)
    p.operation-mode
      padding: 0 10px
      display: flex
      white-space: nowrap
      position: relative
      align-items: center
      justify-content: space-between
      &:before
        content ""
        width: 16px
        height: 16px
        margin-right: 8px
        background-image: url(../img/svg/header/clock.svg)
    .social-links
      padding: 0 20px
      display: flex
      align-items: center
      justify-content: space-between
      .instagram
        width: 21.78px
        height: 21.78px
        img
          width: 100%
      .facebook
        width: 12px
        height: 23px
        margin-left: 25px
        img
          width: 100%
      .vk
        width: 25.5px
        height: 25.5px
        margin-left: 25px
        img
          width: 100%
    .search-and-burger
      display: flex
      margin-right: 20px
      align-items: center
      justify-content: space-between
      .search
        cursor: pointer
        width: 18.49px
        height: 19.15px
        margin-right: 30px
        img
          width: 100%
      .menu-icon
        position: relative
        width: 20px
        height: 20px
        cursor: pointer
        .dot
          position: absolute
          top: 50%
          left: 50%
          width: 5px
          height: 5px
          background-color: $dark-gray
          border-radius: 16px
          -webkit-transform: translate(-50%, -50%) rotate(45deg)
          -moz-transform: translate(-50%, -50%) rotate(45deg)
          -ms-transform: translate(-50%, -50%) rotate(45deg)
          -o-transform: translate(-50%, -50%) rotate(45deg)
          transform: translate(-50%, -50%) rotate(45deg)
          -webkit-transition: margin 0.4s ease 0.4s, width 0.4s ease
          -moz-transition: margin 0.4s ease 0.4s, width 0.4s ease
          -o-transition: margin 0.4s ease 0.4s, width 0.4s ease
          transition: margin 0.4s ease 0.4s, width 0.4s ease
          &:nth-of-type(1)
            margin-top: -7.5px
            margin-left: -7.5px
            -webkit-transform: translate(-50%, -50%) rotate(45deg)
            -moz-transform: translate(-50%, -50%) rotate(45deg)
            -ms-transform: translate(-50%, -50%) rotate(45deg)
            -o-transform: translate(-50%, -50%) rotate(45deg)
            transform: translate(-50%, -50%) rotate(45deg)
          &:nth-of-type(2)
            margin-top -7.5px
            -webkit-transform: translate(-50%, -50%) rotate(-45deg)
            -moz-transform: translate(-50%, -50%) rotate(-45deg)
            -ms-transform: translate(-50%, -50%) rotate(-45deg)
            -o-transform: translate(-50%, -50%) rotate(-45deg)
            transform: translate(-50%, -50%) rotate(-45deg)
          &:nth-of-type(3)
            margin-top: -7.5px
            margin-left: 6.5px
          &:nth-of-type(4)
            margin-left: -7.5px
          &:nth-of-type(6)
            margin-left: 6.5px
          &:nth-of-type(7)
            margin-top: 6.5px
            margin-left: -7.5px
          &:nth-of-type(8)
            margin-top: 6.5px
          &:nth-of-type(9)
            margin-top: 6.5px
            margin-left: 6.5px
        &.clicked
          .dot
            -webkit-transition: margin 0.4s ease, width 0.4s ease 0.4s
            -moz-transition: margin 0.4s ease, width 0.4s ease 0.4s
            -o-transition: margin 0.4s ease, width 0.4s ease 0.4s
            transition: margin 0.4s ease, width 0.4s ease 0.4s
            height: 2px
            margin-left: 0
            margin-top: 0
            &:nth-of-type(1)
              height: 2px
              width: 22px
            &:nth-of-type(2)
              height: 2px
              width: 22px
              margin-top: 0
            &:nth-of-type(3)
              height: 1px
              margin-top: 0
            &:nth-of-type(4)
              height: 1px
              margin-top: 0
            &:nth-of-type(6)
              height: 1px
              margin-top: 0
            &:nth-of-type(7)
              height: 1px
              margin-top: 0
            &:nth-of-type(8)
              height: 1px
              margin-top: 0
            &:nth-of-type(9)
              height: 1px
              margin-top: 0
