@media screen and (max-device-width: 1200px)
  footer
    .footer-content
      .address-phone-links-block
        max-width: 390px
        .links-block
          left: 0
          right: 0
          margin: 0 auto
          max-width: 100%
          margin-top: 45px
          position: absolute
