@media screen and (max-device-width: 1320px)
  header
    .container
      .search-and-burger
        .menu-icon
          width: 22px
  .container
    .links-block
      a.scheme, a.how-to-get
        display: none
  .menu-header
    .links-block
      a.scheme, a.how-to-get
        display: flex
