@media screen and (max-device-width: 767px)
  footer
    width: 86%
    height: 429px
    margin-top: 60px
    margin-bottom: 50px
    .footer-content
      .address-phone-links-block
        display: block
        .address
          margin-bottom: 20px
        .links-block
          margin-top: 10px
          flex-direction: column
          a
            width: 100px
      .social-links
        right: 0
        bottom: 0
        position: absolute
