@media screen and (max-device-width: 767px)
  header
    .container
      .mode-and-social
        display: none
      .search
        opacity: 0
      .search-and-burger
        margin-right: 0
        .menu-icon
          margin-left: 0
