@media screen and (max-device-width: 1170px)
  .under-header
    height: 60px
  header
    height: 60px
    .container
      .main-logo
        height: 32px
        width: 145px
        min-width: 145px
      .links-block
        display: none
      .mode-and-social
        margin-left: auto
        margin-right: 48px
        flex-direction: row-reverse
  .menu-header
    &.active
      top: 62px
    &:after
      bottom: unset
      top: 190px
      position: fixed
    .tablet-menu
      top: 0
      width: 100%
      z-index: 1
      height: 70px
      display: flex
      transition: .3s
      background: $red
      position: absolute
      align-items: center
      justify-content: center
      border-bottom: 1px solid $white
      .block-menu
        display: flex
        align-items: center
        justify-content: space-between
        a
          padding: 0 16px
          color: $white
          white-space: nowrap
          &:hover
            color: $yellow
            transition: .3s
      .scheme-and-howtoget
        display: flex
        align-items: center
        justify-content: space-between
        a.scheme
          display: flex
          cursor: pointer
          position: relative
          align-items: center
          padding: 0 16px
          color: $white
          white-space: nowrap
          &:hover
            color: $yellow
            transition: .3s
          svg
            width: 13px
            height: 17px
            margin-right: 8px
            path
              fill: $white
              transition: .3s
          &:hover
            color: $yellow
            transition: .3s
            svg
              path
                transition: .3s
                fill: $yellow
        a.how-to-get
          display: flex
          cursor: pointer
          position: relative
          align-items: center
          padding: 0 16px
          color: $white
          white-space: nowrap
          &:hover
            color: $yellow
            transition: .3s
          svg
            width: 17px
            height: 17px
            margin-right: 8px
            path
              fill: $white
              transition: .3s
          &:hover
            color: $yellow
            transition: .3s
            svg
              path
                transition: .3s
                fill: $yellow
    .links-block
      margin-top: 75px
      justify-content: center
      a
        padding: 0 18px
      .scheme, .how-to-get
        display: none !important
  .search-header
    top: 61px
    .block-search
      p
        font-size: 32px
      form
        .magnifier
          width: 13.66px
          height: 14.15px
          display: block
          svg
            opacity: 0.6
            width: 16px
            margin-top: 9px
            margin-left: 29px
            path
              fill: $white
        input
          width: 598px
          height: 36px
        input[type="text"]
          padding-left: 40px
        button
          display: none
