@media screen and (max-device-width: 1170px)
  header
    height: 60px
    .container
      .main-logo
        height: 32px
        width: 145px
        min-width: 145px
      .links-block
        display: none
      .mode-and-social
        margin-left: auto
        margin-right: 48px
        flex-direction: row-reverse
