footer
  .zigzag-line
  .footer-content
    .address-phone-links-block
      a.address ТРЦ «Сургут Сити Молл» <br> г. Сургут, Югорский тракт, 38
      a.phone(href="tel:+7 (3462) 44-25-85 ") +7 (3462) 44-25-85 
      .links-block
        a Арендаторам
        a Реклама в ТРЦ
        a Пресса о нас
        a Книга отзывов
        a Вакансии 
        a Каталоги 
    .social-links
      a.instagram
        img(src="./dist/img/svg/footer/instagram-silver.svg")
      a.facebook
        img(src="./dist/img/svg/footer/facebook-silver.svg")
      a.vk
        img(src="./dist/img/svg/footer/vk-silver.svg")
